* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #ffffff;
    --gray-600: #525252;
    --gray-500: #49535a;
    --gray-400: #687985;
    --pink-500: #b7496b;
    --pink-400: #ca4f76;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // width: 120.31rem;
    width: 100vw;
    background-color: var(--white);
}

button {
    border: none;
    background: none;
    text-decoration: inherit;
}

nav {
    // width: 71.31rem !important;
    width: 70vw !important;
    height: 6vw;

    div {
        width: 100%;
        height: 100%;
        flex-wrap: nowrap !important;

        img {
            width: 60% !important;
        }

        div {
            display: flex;
            align-items: center;
        }
    }
}

.menu-links {
    justify-content: flex-end;
    padding-right: 0;
    max-width: 100%;

    a {
        color: var(--gray-500);
        border: none;
        background: none;
        margin-right: 1.43rem;

        text-decoration: inherit;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        text-transform: capitalize;
    }

    button {
        width: 15.06rem;
        height: 3rem;
        border-radius: 99px;
        margin-left: 1.07rem;
        background-color: var(--pink-500);

        color: var(--white);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 1rem;
    }

    button:hover {
        background-color: var(--pink-400);
    }

    a:hover {
        color: var(--gray-400);
    }
}

header {
    max-width: 100vw !important;
    height: 90vh;
    // width: 100vw !important;
    // width: 120.31rem !important;
    background-color: var(--gray-500);
    position: relative;
    padding: 0 !important;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--white);

    article {
        position: absolute;
        height: 100%;
        width: 70vw;

        align-items: center;

        div {
            height: 100%;
        }

        h1 {
            font-size: 2.25rem;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
        }

        p {
            font-size: 1.3125rem;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
        }
    }

    >div {
        position: absolute;
        bottom: 2rem;
    }
}

.img-carrosel {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 37%;
    opacity: 3%;
}

.content-carrosel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    button {
        width: 10.31rem;
        height: 3rem;
        border-radius: 99px;
        background-color: var(--pink-500);
        color: var(--white);
        margin-left: 1.07rem;
    }

    button:hover {
        background-color: var(--pink-400);
    }
}

.element-img {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;

    img:first-child {
        z-index: 2;
        width: 100%;
    }

    img:last-child {
        z-index: 1;
        position: absolute;
        top: 33%;
        left: -17%;
        height: 232px;
        // width: 208px;
    }
}

.span-carrosel {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    padding: 0;
    opacity: 0.5;
    background-color: var(--white);
    margin-right: 1rem;

    cursor: pointer;
}

.span-carrosel-active {
    width: 36px;
    height: 10px;
    border-radius: 9999px;
    background-color: #b74a6b;
    margin-right: 1rem;
    cursor: pointer;
}

main {
    width: 100%;

    display: flex;
    justify-content: center;
}

#about-company {
    width: 70vw;
    height: 111.9375rem;

    section {
        height: calc(100%/3);
        border: 2px solid black;
    }
}

#service-tittle {
    height: 20vh;
    align-content: center;

    h2,
    span {
        justify-content: center;
        display: flex;
    }

    h2 {
        font-family: 'Montserrat', 'sans-serif';
        font-weight: 700;
        font-size: 1.75rem;
        color: var(--gray-500);
    }

    span {
        font-family: 'Lato', 'sans-serif';
        font-weight: 400;
        font-size: 1.125rem;
        color: var(--gray-500);
    }
}

#services-type {
    div {
        display: flex;
        align-items: center;
        flex-direction: column;

        img,
        p {
            margin-bottom: 1.875rem;
        }

        h3 {
            margin-bottom: 1.4375rem;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            font-size: 1.3125rem;
            color: var(--pink-500);
        }

        p {
            text-align: center;
            font-family: 'Lato', 'sans-serif';
            font-weight: 400;
            font-size: 0.9375rem;
            color: var(--gray-600);
        }

        button {
            border-bottom: 2px solid var(--pink-500);
            font-family: 'Lato', 'sans-serif';
            font-weight: 400;
            font-size: 1.125rem;
            color: var(--gray-600);
        }
    }
}

#characteristics {
    align-items: center;
    height: 100%;

    div {
        h2 {
            text-transform: capitalize;
            font-family: 'Montserrat', 'sans-serif';
            font-weight: 700;
            font-size: 2.375rem;
            color: var(--gray-500);
            line-height: 60px;
        }

        p {
            font-family: 'Lato', 'sans-serif';
            font-weight: 400;
            font-size: 1.125rem;
            color: var(--gray-600);
            line-height: 27px;
        }

        div {
            display: flex;
            flex-direction: column;

            span {
                font-family: 'Lato', 'sans-serif';
                font-weight: 400;
                font-size: 1.125rem;
                color: var(--gray-600);
                line-height: 27px;
                margin-bottom: 10px;
            }
        }

    }
}

.check-icon {
    height: 26px;
}
#characteristics-img {
    padding-right: 0;

    img {
        width: 100%;
    }
}